.errorlist
{
  color: red;
}

h2 {
  font-size: 35px;
}

h3 {
  padding: 6px 8px 6px 16px;
  display: block;
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  color: green;
}

.column {
  margin-left: 400px;
  padding-left: 10px;
  padding-top: 1px;
  height: 100%;
}



.regstatus {
  float: left;
  width: 300px;
  padding-left: 10px;
}
