{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

<h1>Welcome to ESP</h1>

{% if user.is_authenticated %}
    <h2> Logged in as <strong>{{ user.username }}</strong>.</h2>
    {% if user.is_student %}
        {% for program in programs %}
            <h3><a href="{% url 'core:studentprofile' program.name program.edition %}">Register as a student for {{ program }}</a></h3>
        {% endfor %}
    {% endif %}


    {% if user.is_teacher %}
        {% for program in programs %}
            <h3><a href="{% url 'core:teacherprofile' program.name program.edition %}">Register to teach for {{ program }}</a></h3>

            <h3><a href="{% url 'core:classes' program.name program.edition %}">View all classes for {{ program }}</a></h3>
        {% endfor %}
    {% endif %}


    <h3><a href="{% url 'core:logout' %}" >Log Out</a></h3>


    {% if user.is_superuser %}
        <h3><a href="{% url 'admin:index' %}">Admin Panel</a></h3>
    {% endif %}


{% else %}
    <h2> <a href="{% url 'core:login' %}" class="btn btn-teacher btn-lg" role="button">Sign In</a> </h2>
{% endif %}
