{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

<h1>Welcome to ESP</h1>

{% if user.is_authenticated %}
    <h2> Logged in as <strong>{{ user.username }}</strong>.</h2>
    {% if user.is_student %}
        <h3><a href="{% url 'core:studentprofile' %}">Register for classes</a></h3>
    {% endif %}
    {% if user.is_teacher %}
        <h3><a href="{% url 'core:index' %}">Register a class</a></h3>
    {% endif %}
    <h3><a href="{% url 'logout' %}" >Log Out</a></h3>
{% else %}
    <h2> <a href="{% url 'login' %}" class="btn btn-teacher btn-lg" role="button">Sign In</a> </h2>
{% endif %}
