{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

<h1> {{user.username}}: Dashboard for {{ program.name }} {{ program.edition }} </h1>

<div class="regstatus">
  <h2> Registration Status </h2>

  <h3><a href="{% url 'core:studentprofile' program.name program.edition %}">Update Profile</a>: Done</h3>

</div>
<div class="column">
  <h2> Registered Classes </h2>

  {% if classes|length > 0 %}
    {% for c in classes %}
      <h3> {{c.title}} </h3>
    {% endfor %}
  {% else %}
    <h3> No classes. </h3>
  {% endif %}

  <h3><a href="{% url 'core:teacherclassreg' program.name program.edition %}" ><i>Add More Classes</i></a>

</div>
